/*
***************************************************************
Script : 
Version : 
Date :
Author : Pudyasto Adi W.
Email : mr.pudyasto@gmail.com
Description : 
***************************************************************
*/
/* 
    Created on : May 1, 2015, 2:08:54 PM
    Author     : pudyasto
*/

.fa-item{
    cursor:pointer;
}

.modal-full{
    width: 90%;
}

.color-grey{
    background-color: #F7F7F7;
}

.navbar {
  box-shadow: 0 2px 2px rgba(0,0,0,0.05), 0 1px 0 rgba(0,0,0,0.05);
}

.nav-tabs-custom>.nav-tabs>li {
  border-top: 3px solid rgb(174, 179, 182);
  margin-bottom: -2px;
  margin-right: 5px;
}

body{
    overflow-x: auto;
}

.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  max-width: 600px;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.jq-toast-single, .jq-toast-wrap.top-right{
  border-radius: 0px;
  z-index: 1200;
}

.bootstrap-timepicker-widget{
    max-width: 160px;
}

.ui-datepicker {
    z-index: 1121 !important;
}

.note{
    color: #cc0033;
}

tfoot {
    display: table-header-group;
}